<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" class="sidebar">

    <mat-list>
      <mat-list-item routerLink="/"> Home </mat-list-item>
      <mat-list-item routerLink="/cv"> CV </mat-list-item>
      <mat-list-item routerLink="/skills"> Skills </mat-list-item>
      <mat-list-item routerLink="/projects"> Projects </mat-list-item>
      <mat-list-item routerLink="/blog"> Blog </mat-list-item>
      <mat-list-item routerLink="/contact"> Contact </mat-list-item>
     </mat-list>
  </mat-drawer>


  <mat-toolbar color="primary">
    <span>My Application</span>
    <button mat-icon-button color="" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <div class="example-sidenav-content">

  </div>
  

  
  <router-outlet></router-outlet>
</mat-drawer-container>







<!-- footer -->